<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>$Title$</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<%- include public/header.ejs%>
<h2>ejs</h2>
<h2><%=name%></h2>
<img src="images/user04.png" alt="">
</body>
</html>